@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.clearfix{
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.parent{
  width: 1180px;
  margin:0 auto;
}

nav {
	margin: 75px 20% 25px;
	position: relative;
	width: 500px;
	height: 50px;
	background-color: #212121;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: rgb(255, 255, 255);
	cursor: pointer;
  font-weight: bold;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
.N:nth-child(1) {
	width: 100px;
}
.N:nth-child(2) {
	width: 100px;
}
.N:nth-child(3) {
	width: 100px;
}
.N:nth-child(4) {
	width: 100px;
}
.N:nth-child(5) {
	width: 100px;
}
nav .start-home, .N:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
  color: #ffffff;;
	background-color: #d8060c;
}
nav .start-about, .N:nth-child(2):hover~.animation {
	width: 100px;
	left: 100px;
  color: #ffffff;;
	background-color: #071c95;
}
nav .start-blog, .N:nth-child(3):hover~.animation {
	width: 100px;
	left: 200px;
  color: #ffffff;
	background-color: #03b3ec;
}
nav .start-portefolio, .N:nth-child(4):hover~.animation {
	width: 100px;
	left: 300px;
  color: #ffffff;;
	background-color: #d8060c;
}
nav .start-contact, .N:nth-child(5):hover~.animation {
	width: 100px;
	left: 400px;
  color: #ffffff;
	background-color: #071c95;
}

nav a:hover{
  color: #ffffff;
  transition: all .5s ease 0s;
}

li,a{
  font-weight: 500;
  font-size: 20px;
  color: #262626;
  text-decoration: none;
  text-transform: capitalize;
}

.icon {
  height: 35px;
  padding-top: 10px;
}

.p1{
  color: #000000;
  margin: auto;
  padding-top: 40px;
}


.logo{
  margin: auto;
}

.L{
    margin: 0px;
    color: #d8060c;
    font-size: 35px;
}

.D{
  color: #000000;
    margin-right: 20px;
}


.line{
  width: 322px;
}

header{
  display: flex;
  flex-direction: column;
}


.head .headcontent{
  width: 1180px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  height: auto;
}
.head .headcontent h1{
  word-spacing: 10px;
  font-size: 150%;
  border: 1px solid white;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom:20px;
}

.head .headcontent .w{
  color: #404040;

}

.head .firstnav .parent .links .curr{
  border-bottom: 5px solid #0653b6;
}
.head .firstnav .parent .links .R{
  font-size: 15px;
  font-style: italic ;
  font-weight: bold;
}


.bod video{
  width: 100%;
  height: auto;
}


/*end head*/
/*body*/

.divarea .main img{
  height: 400px;
}
.divarea h1{
  text-align: center;
  color:#ffffff;
}
.divarea .image{
  display: flex;
  width: 50%;
  float: left;
  margin: 2%;
}
.new{
  margin: 1%;
  width: 100%;
  transition: transform 0.5s ease;
  border-radius: 15px;
}
.new:hover{
  transform: scale(1.05);
}
.see{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background: rgb(101,101,103);
  background: linear-gradient(90deg, rgba(101,101,103,1) 8%, rgba(189,189,196,1) 30%, rgba(238,238,238,1) 65%, rgba(255,255,254,1) 100%, rgba(98,97,94,1) 100%, rgba(130,153,158,1) 100%);
  height: 50px;
}
.see p
{
 padding: 5px;
}
.see a{
  text-decoration: none;

}
.see a button{
  font-size: 25px;
  background: none;
  border: none;
  cursor:pointer;
  color: #0653b6;
  transition: transform 0.5s ease;
}
.see p :hover{
    color: black;
    transform: scale(1.1);
}
/*end body*/
/*footer*/
.foot{
 margin-top: 5px;
 border-top: 1px solid #F2F2F2;
 text-align: center;
}
.foot .col{
  float: left;
  display: inline-block;
  width: 33%;
}
.foot .col p{
  width: 100%;
  text-align: center;
  color: #0653b6;
  margin:3px;
}
.foot .copyrghits{
  margin:20px;
}

.foot a{
  text-decoration: none;
  color: #0653b6;
}

.loc{
  margin-bottom: 3%;
  margin-left: 46%;
  margin-right: 50%;
  width: 8%;
  transition: transform 0.5s ease;
}
.loc:hover{
  transform: scale(1.3);
}
/*end footer*/
/*////////////////////////////////////////////////////////////*/

.footer{
  background-color: #131313;
  padding: 30px 0px;
}
.container{
  max-width: 1170px;
  margin: auto;
}
.row{
display: flex;
flex-wrap: wrap;
}

ul{
  list-style: none;
}
.footer-col{
width: 33%;
padding: 0 100px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-family: 'Cairo', sans-serif;
  position: relative;
}
.footer-col h4::before{
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color: #00197f;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;  
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social{
  display: inline-block;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
}
.box-container{
  margin-left: 10%;
  position: relative;
  width: 300px;
  height: 42px;
  border: 4px solid #00197f;
  border-radius: 50px;
}
.elementscontainer{
  width: 100%;
  height: 100%;
  vertical-align: middle; 
}
.search{
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px ;
  border-radius: 50px;
  font-size: 18px;
  color: #424242;
  font-weight: 500;
}
.material-icons{
  font-size: 26;
  color:  #00197f;
}
h1{
  padding-top: 1%;
  padding-bottom: 3%;
}
.icon{
  transition: transform 0.3s ease;
}
.icon:hover{
  transform: scale(1.3);
}


.loader {
  width: 90.8px;
  height: 90.8px;
  position: relative;
  margin-inline: 47%;
  margin-bottom: 60px;
  transform: rotate(45deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #0000;
  background-image: radial-gradient(circle 19.2px at 50% 50%,#0000 94%, #d8060c);
}

.loader:after {
  animation: pulse-ytk0dhmd 1s infinite;
  transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}

/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #03b3ec;
  --fs-size: 4.5em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}